services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    command: npm run start -- --host 0.0.0.0 --port 80 --poll 2000 --proxy-config proxy.conf.json
    volumes:
      - ./frontend:/app
      - /app/node_modules